/*
 * General Styles
*/


body {
  background: url('../images/woods.jpg');
  font-family: 'Nanum Myeongjo', serif;

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 14px;
  color: #fff;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Abril Fatface', cursive,;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  font-size: 24px;

}

h2 {
  font-size: 32px;
  color: #fff;
}




/*
 * Container Styles
*/


.container {
  width: 600px;
  margin: 100px auto;
}

/*
 * Hero Styles
*/

.hero {
  line-height: 0;
}

.hero img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}


/*
 * Section Styles
*/


section.intro, section.contact{
  padding: 40px;
}

section.intro {
  background:  black;
}

section.contact {
  background: black;
  

}


body {
  color: #fff;
}








/*
 * Aside Styles
*/

aside.left {
  float: left ;
}

aside.right {
  float: right;
}

aside {
  margin-right: 1.5rem;
  margin-bottom: 0.625rem;
}










